<form (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm" class="createprod">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Product Name</label>
        <input name="prod_name" ngModel type="text" class="form-control is-valid" id="validationServer01" placeholder="Enter Product Name" value="Enter Product Name" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Category ID</label>
        <input name="category_id" ngModel type="text" class="form-control" id="validationServer01" placeholder="Product Category" value="Product Category" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Description</label>
        <textarea name="description" ngModel type="text" class="form-control" id="validationServer03" placeholder="Enter Product Description" required></textarea>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Rating</label>
        <select name="rating" ngModel class="custom-select" required>
            <option selected value="">Choose....</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Product Color</label>
        <input name="color" ngModel type="color" class="form-control" id="validationServer01" placeholder="Product Colour" value="Product Colour" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Is Available</label>
        <select name="is_available" ngModel class="custom-select" required ngModel>
            <option selected value="">Choose....</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Product Price</label>
        <input name="price" ngModel type="text" class="form-control" id="validationServer01" placeholder="Product Colour" value="Product Colour" required>
      </div>
      <!-- <div class="col-md-6 mb-3">
        <label for="validationServer03">Reviews</label>
        <textarea name="reviews" ngModel type="text" class="form-control" id="validationServer03" placeholder="Add Review" required></textarea>
      </div> -->
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Reviews</label>
        <textarea name="reviews" ngModel type="text" class="form-control" id="validationServer03" placeholder="Add Review" required></textarea>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>